body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2 {
  text-align: center;
}

#intro {
  background-color: #3498db;
  color: white;
  padding: 50px 20px;
}

#portfolio {
  padding: 40px 20px;
}

.carousel-container {
  position: relative;
  width: 80%;
  max-width: 800px; /* Limita el tamaño máximo en pantallas grandes */
  margin: 20px auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide img {
  width: 100%;  /* Asegura que la imagen ocupe el 100% del contenedor */
  height: 100%;  /* Hace que la imagen tenga la misma altura que el contenedor */
  object-fit: cover;  /* Asegura que la imagen cubra el área sin deformarse */
  background-color: #fff;  /* Fondo blanco si la imagen es más pequeña que el contenedor */
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.caro
